@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
}

.container {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1440px;
  margin: 0 auto;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  align-items: center;
  height: 112px;
  column-gap: 10px;
}

.logo-img {
  width: 40px;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1);
}

.logo p {
  font-family: Rubik, sans-serif;
}

/* menu button navigation with animation */

.menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 137px;
  height: 50px;
  color: white;
  background: linear-gradient(90deg, #2e56e8 0%, #3c2d4e 100%);
  border-radius: 25px;
}

.menu-icon {
  width: 24px;
  height: 24px;
}

.menu-btn {
  font-weight: 600;
}

.hidden-menu {
  display: none;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.show-menu {
  display: flex;
  transform: translateX(0);
}

/* Блок с заголовком в первой странице, section class="hero" */

.hero {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
  height: 788px;
  /* background-color: salmon; */
}

/* background vectors */
.wave-vector {
  position: absolute;
  z-index: 10;
  width: min(100%, 1605.5px);
  height: auto;
  opacity: 0.81;
  mix-blend-mode: color-burn;
  pointer-events: none;
  user-select: none;
  top: 43.5%;
  right: 0;
  mix-blend-mode: color-burn;
}

.line-vector {
  position: absolute;
  z-index: 11;
  width: min(100%, 1440px);
  height: auto;
  pointer-events: none;
  user-select: none;
  top: 34%;
  left: 0;
}

.v1 {
  position: absolute;
  z-index: 12;
  width: min(100%, 1200px);
  height: auto;
  pointer-events: none;
  user-select: none;
  top: 84%;
  left: -1%;
  filter: blur(70px);
  opacity: 95%;
}

.v2 {
  position: absolute;
  z-index: -1;
  width: min(100%, 666.2px);
  height: min(100%, 699.29px);
  pointer-events: none;
  user-select: none;
  top: -43%;
  left: -28%;
  filter: blur(200px);
}

.v3 {
  position: absolute;
  z-index: -2;
  width: min(100%, 450px);
  height: auto;
  pointer-events: none;
  user-select: none;
  top: -10%;
  left: 22%;
  filter: blur(50px);
}

.v4 {
  position: absolute;
  z-index: -3;
  width: min(100%, 450px);
  height: auto;
  pointer-events: none;
  user-select: none;
  top: 3%;
  left: -11.6%;
  filter: blur(60px);
  mix-blend-mode: hard-light;
}

.v5 {
  position: absolute;
  z-index: -4;
  width: min(100%, 550px);
  height: auto;
  pointer-events: none;
  user-select: none;
  top: 20%;
  left: 5%;
  filter: blur(70px);
}

.v6 {
  position: absolute;
  z-index: -5;
  width: min(100%, 1210px);
  height: auto;
  pointer-events: none;
  user-select: none;
  top: 38%;
  left: -10%;
  filter: blur(100px);
}

.v7 {
  position: absolute;
  z-index: -6;
  width: min(100%, 1210px);
  height: auto;
  pointer-events: none;
  user-select: none;
  top: -19%;
  left: 38%;
  filter: blur(70px);
}

.v8 {
  position: absolute;
  z-index: -4;
  width: min(100%, 1000px);
  height: auto;
  pointer-events: none;
  user-select: none;
  top: 40%;
  right: -26%;
  filter: blur(20px);
}

.v9 {
  position: absolute;
  z-index: -4;
  width: min(100%, 650px);
  height: auto;
  pointer-events: none;
  user-select: none;
  top: 24%;
  right: -13%;
  filter: blur(70px);
  opacity: 60%;
}

/* Main hero elements */
.vol-edu {
  margin-top: 80px;
  padding: 6px 19px;
  border: 1px solid white;
  border-radius: 14px;
  background: linear-gradient(-119deg, #6e5dfe, #0a19e7);
}

.vol-edu span {
  font-weight: 400;
  color: white;
}

.h1 {
  font-family: Rubik, sans-serif;
  font-size: 76px;
  font-weight: 500;
  margin-top: 28px;
}

.subheading {
  margin-top: 22px;
  font-size: 22px;
  font-weight: 700;
}

.participate-btn {
  margin-top: 60px;
  width: 212px;
  height: 50px;
  background: linear-gradient(90deg, #5189fa, #110eb8);
  color: white;
  border-radius: 25px;
  font-weight: 700;
}

/* Second section 'About' on second page*/

.about {
  position: relative;
  z-index: 1;
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  height: 842px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  background-color: gray;
}

.heading2 {
  height: 334px;
}

.finfluence {
  margin-top: 46px;
  margin-left: 100px;
  font-family: Rubik, sans-serif;
  font-size: 90px;
  font-weight: 600;
}

.fin-inf {
  margin-top: 16px;
  font-family: Rubik, sans-serif;
  font-size: 110px;
  font-weight: 600;
}

.about-description {
  display: flex;
  column-gap: 50px;
}

.about-desc-video {
  max-width: 494px;
  max-height: 448px;
  background: linear-gradient(90deg, #5189fa, #110eb8);
}

.about-desc-text {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 700px;
}

.about-us {
  font-family: Rubik, sans-serif;
  font-size: 24px;
}
